<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/scss/style.css" />
    <link rel="stylesheet" href="/components/header/_header.scss" />
    <title>Document</title>
  </head>
  <body>
    <header>
      Kanban Project Managment Tool
      <div class="header-rightSide">
        <a href="/help.html"><img src="/assets/icons/questionmark_small.png" /></a>
        <div class="user-Profile-Initials"></div>
      </div>
    </header>
  </body>
</html>
