<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/scss/style.css" />
    <link rel="stylesheet" href="/components/header/_header.scss" />

    <!-- <script type="module" src="header.js" defer></script>
    <script type="module" src="../../js/script.js" defer></script> -->
    <title>Document</title>
  </head>
  <body>
    <header>
      Kanban Project Management Tool
      <div class="header-rightSide">
        <a href="/help.html">
          <img src="/assets/icons/questionmark_small.png" alt="Help" />
        </a>
        <div onclick="toggle_d_None()" id="user_Profile_Initials" class="user-Profile-Initials">
          <div class="dropDown">
          <div class="legalNotice">
            <a href="/legalNotice.html">Legal Notice</a>
          </div>
          <div class="privacyPolicy">
            <a href="/privacyPolicy.html">Privacy Policy</a>
          </div>
          <div class="logOut">
            <a href="/login.html">Log out</a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
