* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter";
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.d_none {
  display: none !important;
}

.d_block {
  display: block !important;
}

.d_flex {
  display: flex !important;
}

svg {
  user-select: none;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}
