/* Colors */

/* Variables */

/* @media breakpoints */

/** 1400px oder schmaler */ //! used
$breakpoint-lg: 1400px !default;

/** 900px oder schmaler */
$breakpoint-md: 900px !default;

/** 600px oder schmaler */
$breakpoint-sm: 600px !default;

/** 450px oder schmaler */ //! used
$breakpoint-xs: 450px !default;

/** 350px oder schmaler */
$breakpoint-xxs: 350px !default;

/** 1400px oder schmaler */ //! used
// @media (max-width: $breakpoint-lg) {
// }
/** 900px oder schmaler */
// @media (max-width: $breakpoint-md) {
// }
/** 600px oder schmaler */
// @media (max-width: $breakpoint-sm) {
// }
/** 450px oder schmaler */ //! used
// @media (max-width: $breakpoint-xs) {
// }
/** 350px oder schmaler */
// @media (max-width: $breakpoint-xxs) {
// }



// height 950px oder niedriger
$height-md: 950px !default;





/** 950px oder schmaler */
// @media (max-width: $height-md) {
// }
