/* Colors */

/* Variables */

/* @media breakpoints */

/** 1200px oder schmaler */
$breakpoint-lg: 1200px !default;

/** 900px oder schmaler */
$breakpoint-md: 900px !default;

/** 600px oder schmaler */
$breakpoint-sm: 600px !default;

/** 450px oder schmaler */
$breakpoint-xs: 450px !default;

/** 300px oder schmaler */
$breakpoint-xxs: 300px !default;

/** 1200px oder schmaler */
// @media (max-width: $breakpoint-lg) {
// }
/** 900px oder schmaler */
// @media (max-width: $breakpoint-md) {
// }
/** 600px oder schmaler */
// @media (max-width: $breakpoint-sm) {
// }
/** 450px oder schmaler */
// @media (max-width: $breakpoint-xs) {
// }
/** 300px oder schmaler */
// @media (max-width: $breakpoint-xxs) {
// }
