@import "./fonts.scss";
@import "./var.scss";
@import "./default.scss";
@import "../components/components.scss";

main {
  display: flex;

  @media (max-width: $breakpoint-lg) {
    flex-direction: column-reverse;
  }

  .mainSection {
    display: flex;
    max-width: 1920px;
    width: 100%;
    max-height: 100vh;
    height: 100%;

    @media (max-width: $breakpoint-lg) {
      height: calc(100vh - 80px);
    }

    .content {
      width: 100%;
      height: calc(100vh - 96px);

      @media (max-width: $breakpoint-lg) {
        height: calc(100vh - (96px + 80px));
      }

      .contactContent {
        display: flex;
        height: 100%;
      }
    }
  }
}

body {
  overflow-x: hidden;
}
