.header {
  display: flex;
  justify-content: space-between;

  .category {
    background-color: #000000;
    font-size: 23px;
    font-weight: 400;
    color: #ffffff;
    padding: 4px 24px 4px 24px;
    border-radius: 8px;

    @media (max-width: $breakpoint-xs) {
      font-size: 16px;
    }
  }
  .closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;

    & svg {
      height: 15px;
      width: 15px;
    }

    &:hover {
      cursor: pointer;
      background-color: #eeeeee;
    }
  }
}
