.title {
  font-size: 61px;
  font-weight: bold;
  line-height: 120%;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: normal;
  white-space: normal;

  @media (max-width: $breakpoint-xs) {
    font-size: 30px;
  }
}
