.sidebar {
  display: flex;
  min-width: 232px;
  height: 100dvh;
  background-color: #2a3647;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  z-index: 10;

  @media (max-width: $breakpoint-lg) {
    flex-direction: row;
    padding-bottom: 0px;
    width: 100%;
    height: 80px;
  }
}

.sidebarUpperPart {
  padding-top: 64px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 96px;

  @media (max-width: $breakpoint-lg) {
    padding-top: 0px;
    justify-content: left;
    align-items: center;
  }
}

.joinLogo {
  width: 100.03px;
  height: 121.97px;

  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}

.active {
  background-color: #091931 !important;
}

#information {
  padding-left: 52px;
  gap: 8px;

  & a {
    color: #a8a8a8;

    &:hover {
      color: #29abe2;
    }
  }
}

.sidebar-Block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0;
  width: 100%;

  @media (max-width: $breakpoint-lg) {
    flex-direction: row;
    opacity: 100%;
    max-width: 428px;
    gap: 0;
  }
}

.sidebar-Block a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  gap: 15px;
  padding-block: 10px;
  padding-inline: 56px;
  opacity: 100%;
  width: 100%;

  @media (max-width: $breakpoint-lg) {
    display: flex;
    line-height: 120%;
    letter-spacing: 0%;
    justify-content: space-evenly;
    padding-inline: 0px;
    vertical-align: top;
    height: 76px;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    border-radius: 16px;
  }

  & svg {
    height: 30px;
    width: 30px;
    fill: #cdcdcd;
  }

  &:hover {
    background-color: #2a3d59;
  }
}

#information {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 35px;
  padding: 0;
  width: 100%;

  @media (max-width: $breakpoint-lg) {
    display: none;
  }

  & a {
    display: flex;
    align-items: center;
    padding-block: 5px;
    padding-inline: 56px;
    width: 100%;
  }
}
