<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/Favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/scss/style.css" />
    <script src="/components/sidebar/sidebar.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="sideBar">
      <div>
        <img src="/assets/icons/joinLogo.png" />
      </div>
      <div class="sidebar-Block">
        <a id="summary" href="/summary.html"><img src="/assets/icons/Summary.png" /></a>
        <a id="addTask" href="/addTask.html"><img src="/assets/icons/addTask.png" /></a>
        <a id="board" href="/board.html"><img src="/assets/icons/board.png" /></a>
        <a id="contacts" href="/contacts.html"><img src="/assets/icons/contact.png" /></a>
      </div>
      <div id="informations">
        <a href="/privacyPolicy.html"><img src="/assets/icons/privacyPolicy.png" /></a>
        <a href=" /legalNotice.html"><img src="/assets/icons/legalNotice.png" /></a>
      </div>
    </div>
  </body>
</html>
