.todoCards,
.inProgressCards,
.awaitFeedbackCards,
.doneCards {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: $breakpoint-lg) {
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .cardsFallback {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
    border: 1px dotted #a8a8a8;
    border-radius: 10px;
    height: 48px;
    width: 100%;

    @media (max-width: $breakpoint-lg) {
      width: 252px;
      height: 48px;
    }

    .fallbackText {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      color: #a8a8a8;
    }
  }

  .cardsContainer {
    display: flex;
    gap: 26px;

    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }

    .card {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 24px;
      padding: 16px;
      background-color: #ffffff;
      border-radius: 24px;
      transition: all 0.1s ease-in-out;

      @media (max-width: $breakpoint-lg) {
        flex-grow: 0;
        width: 252px;
        height: auto;
      }

      &:hover {
        cursor: grab;
      }

      .taskHeader {
        display: flex;
        justify-content: space-between;

        position: relative;

        .category {
          width: fit-content;
          background-color: black;
          padding: 4px 16px 4px 16px;
          border-radius: 8px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          line-height: 120%;
        }

        .moveToButton {
          background-color: transparent;
          border: none;
          // display: none;
          height: 25px;
          width: 25px;

          // @media (max-width: $breakpoint-lg) {
          //   display: block;
          // }

          & svg {
            width: 20px;
            height: 20px;
            fill: #000000;
          }
        }

        .mobileMenu {
          position: absolute;
          flex-direction: column;
          gap: 10px;
          top: 5px;
          right: 30px;
          background-color: #2a3647;
          padding: 10px 0px;
          border-radius: 10px 0px 10px 10px;

          .mobileMenuButton {
            display: flex;
            justify-content: left;

            background-color: transparent;
            border: none;
            color: #ffffff;
            padding: 8px 15px;
            width: 100%;

            &:hover {
              cursor: pointer;
              background-color: #2a3d59;
            }
          }
        }
      }

      .titleDescriptionContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title {
          font-size: 16px;
          font-weight: bold;
          line-height: 120%;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .description {
          font-size: 16px;
          font-weight: 400;
          line-height: 120%;
          color: #a8a8a8;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .statusSubtasks {
        display: flex;
        gap: 11px;

        .progressBar {
          width: 120px;
        }

        .progressText {
          font-size: 12px;
          font-weight: 400;
          line-height: 120%;
        }
      }

      .assignedPriority {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .assignedTo {
          display: flex;
          .initials {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            font-size: 12px;
            font-weight: 400;
            line-height: 120%;
            background-color: burlywood;
            border: 1px solid #ffffff;
            border-radius: 50%;
            color: #ffffff;

            &:not(:first-child) {
              margin-left: -8px;
            }
          }
        }

        .priority {
          .urgentIcon {
            height: 17px;
            width: 17px;
            fill: #ff3d00;
          }
          .mediumIcon {
            height: 17px;
            width: 17px;
            fill: #ffa800;
          }
          .lowIcon {
            height: 17px;
            width: 17px;
            fill: #7ae229;
          }
        }
      }
    }
  }

  .draggableIndicator {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 24px;

    @media (max-width: $breakpoint-lg) {
      width: 252px;
      height: auto;
    }

    &.targetSlot {
      border: 2px dotted #a8a8a8;
    }
  }
}
