.taskDetailViewCardEdit {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 95%;
  max-width: 525px;
  width: 100%;
  background-color: #ffffff;
  padding-right: 20px;
  padding-block: 10px;
  border-radius: 30px;
}

.urgentPrio {
  background-color: #ff3d00;
  cursor: auto;
  box-shadow: none;
  color: white;

  img {
    filter: brightness(0) invert(1);
  }
}

.mediumPrio {
  background-color: #ffa800;
  cursor: auto;
  box-shadow: none;
  color: white;

  img {
    filter: brightness(0) invert(1);
  }
}

.lowPrio {
  background-color: #7ae229;
  cursor: auto;
  box-shadow: none;
  color: white;

  img {
    filter: brightness(0) invert(1);
  }
}
