.taskDetailViewCardEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  max-height: 95%;
  max-width: 525px;
  width: 100%;
  background-color: #ffffff;
  padding: 40px 40px 40px 40px;
  border-radius: 30px;
  overflow-y: auto;

  .header {
    display: flex;
    justify-content: end;
    .closeButton {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      border-radius: 50%;

      & svg {
        height: 15px;
        width: 15px;
      }

      &:hover {
        cursor: pointer;
        background-color: #eeeeee;
      }
    }
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
    }
    .taskTitleInput {
      width: 100%;
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      padding: 12px 16px;
      font-size: 20px;
      outline: none;
      &:focus {
        border: 1px solid #29abe2;
      }
    }
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .description {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
    }
    .taskDescriptionInput {
      height: 120px;
      width: 100%;
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      padding: 12px 16px;
      font-size: 16px;
      outline: none;
      &:focus {
        border: 1px solid #29abe2;
      }
    }
  }

  .dueDateContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .dueDate {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
    }
    .taskDueDateInput {
      width: 100%;
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      padding: 12px 16px;
      font-size: 16px;
      outline: none;
      &:focus {
        border: 1px solid #29abe2;
      }
    }
  }

  .priorityContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .priority {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
    }

    .prioContainer {
      display: flex;
      gap: 16px;

      .priorities {
        width: 136px;
        padding: 16px 10px;
        font-size: 20px;
        font-weight: 400;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @media (max-width: $breakpoint-sm) {
          font-size: 16px;
        }

        &:hover {
          cursor: pointer;
          box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
        }

        &.urgentPrio {
          background-color: #ff3d00;
          cursor: auto;
          box-shadow: none;
          color: white;

          img {
            filter: brightness(0) invert(1);
          }
        }

        &.mediumPrio {
          background-color: #ffa800;
          cursor: auto;
          box-shadow: none;
          color: white;

          img {
            filter: brightness(0) invert(1);
          }
        }

        &.lowPrio {
          background-color: #7ae229;
          cursor: auto;
          box-shadow: none;
          color: white;

          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }

  .assignedToContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .assignedTo {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
    }

    .assignedToDropdown {
      height: 50px;
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      padding: 12px 16px;
      padding-left: 0px;
      font-size: 20px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      .searchUserToAssign {
        width: 100%;
        border: none;
        padding: 12px 16px;
        font-size: 16px;
        outline: none;

        &:focus .assignedToDropdownContainer {
          border: 1px solid #29abe2;
        }
      }
      .assignedToDropdownArrow {
        rotate: 180deg;
        border-radius: 12px;
        transition: all 0.1s ease-in;

        &:hover {
          cursor: pointer;
          background-color: #d1d1d192;
        }
      }

      .rotatedArrow {
        rotate: 0deg;
      }
    }
  }

  .currentAssignation {
    display: flex;
    gap: 8px;

    .initialsBox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      width: 42px;
      border-radius: 50%;
      color: white;
    }
  }

  .contactsToAssign {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    overflow-y: scroll;

    .userListItem {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 5px 10px;

      &:hover {
        cursor: pointer;
        background-color: #d1d1d192;
        border-radius: 10px;
      }
    }

    .initialsNameWrapper {
      display: flex;
      align-items: center;
      gap: 16px;

      .initialsBox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        color: white;
      }
    }
  }
}

//   #######################################################  SUBTASKS

.addSubtaskContainer {
  position: relative;

  svg {
    min-height: 8px !important;
    min-width: 8px !important;
  }

  .subtaskInputContainer {
    height: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px;
    padding-left: 0px;
    font-size: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    @media (max-width: $breakpoint-sm) {
      height: 41px;
    }

    .subtaskInput {
      width: 80%;
      height: 48px;
      outline: none;
      border: none;
      padding: 0;
      padding-left: 16px;

      @media (max-width: $breakpoint-sm) {
        height: 37px;
      }
    }

    .newSubtaskPlusBtn {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background-color: #d1d1d192;
      }
    }
  }

  .subtaskContainer {
    max-height: 120px;
    // max-width: 440px;
    width: 100%;
    padding: 7px 0px;

    // position: absolute;
    top: 101%;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .subtaskElementWrapper {
      width: 100%;
      // max-width: 440px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .currentSubtaskBox {
        width: 100%;
        padding: 4px 16px;
        height: 30px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          cursor: pointer;
          background-color: #d1d1d192;
          .subtaskActionBox {
            display: flex;
          }
        }

        .dotBox {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          svg {
            padding: 0;
          }
        }

        .subtaskActionBox {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          display: none;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            svg:hover {
              cursor: pointer;
            }
          }

          .subtaskSeparator {
            width: 2px;
            height: 24px;
            background-color: #a8a8a8;
          }
        }
      }

      .editSubtaskBox {
        width: 100%;
        height: 30px;
        padding: 4px 16px;
        background-color: white;
        border-bottom: 1px solid #29abe2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .editSubtaskInput {
          width: 80%;
          height: 98%;
          outline: none;
          border: none;
          padding: 0;
          border-radius: 0;
        }

        .subtaskActionBox {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            svg:hover {
              cursor: pointer;
            }
          }

          .subtaskSeparator {
            width: 2px;
            height: 24px;
            background-color: #a8a8a8;
          }
        }
      }
    }
  }
}

.addTaskBottomContainer {
  width: 976px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .taskBtnContainer {
    display: flex;

    .clearBtn {
      gap: 4px;
      padding: 16px;
      border-radius: 10px;
      border: 1px solid #2a3647;
      background-color: white;
      font-size: 20px;
      font-weight: 400;
      color: #2a3647;
      margin-right: 24px;
      transition: all 0.1s ease-in-out;

      @media (max-width: $breakpoint-lg) {
        // display: none;
      }

      @media (max-width: $breakpoint-sm) {
        font-size: 16px;
      }

      @media (max-width: $breakpoint-xs) and (max-height: 950px) {
        font-size: 16px;
        padding: 10px 14px;
      }

      &:hover {
        border: 1px solid #29abe2;
        color: #29abe2;
        box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);

        img {
          filter: invert(46%) sepia(52%) saturate(2400%) hue-rotate(163deg) brightness(95%) contrast(101%);
        }
      }
    }

    .createBtn {
      gap: 4px;
      padding: 16px;
      border: none;
      border-radius: 10px;
      background-color: #2a3647;
      font-size: 20px;
      font-weight: 700;
      color: white;
      transition: all 0.1s ease-in-out;

      svg {
        fill: white;
      }

      &:hover {
        background-color: #29abe2;
        box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
      }

      @media (max-width: $breakpoint-sm) {
        font-size: 16px;
      }

      @media (max-width: $breakpoint-xs) and (max-height: 950px) {
        font-size: 16px;
        padding: 10px 14px;
      }
    }
  }
}
