.addedUserFeedback {
  width: 326px;
  height: 74px;
  border-radius: 20px;
  background-color: #2a3647;
  box-shadow: 0px 0px 4px 0 #00000026;
  font-size: 18px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75dvh;
  left: 100%;
  transition: all 0.5s ease;
  z-index: 5000;

  @media (max-width: $breakpoint-lg) {}
}

.newTaskUserFeedback {
  width: 326px;
  height: 74px;
  border-radius: 20px;
  background-color: #2a3647;
  box-shadow: 0px 0px 4px 0 #00000026;
  font-size: 18px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 750px;
  left: 100%;
  transition: all 0.5s ease;
  z-index: 5000;

  @media (max-width: $breakpoint-lg) {
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
  }
}

.confirmDeleteUserModal {
  position: absolute;
  z-index: 10000;
  height: 100dvh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);

  .confirmDeleteUserContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 66px 48px;
    width: 1000px;
    height: 500px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    background-color: #2a3647;
    box-shadow: 0px 0px 4px 0 #00000026;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;

    @media (max-width: $breakpoint-lg) {
      height: 80dvh;
      max-height: 760px;
      width: 98%;
      max-width: 396px;
      justify-content: flex-end;
      font-size: 19px;
    }

    @media (max-width: $breakpoint-xs) and (max-height:950px) {
      height: 75dvh;
      font-size: 16px;
      padding: 16px 16px;
      justify-content: space-evenly;
      gap: 0;
    }

    .confirmDeleteUserTextBox {
      p {
        line-height: 2rem;
      }
    }

    .deleteModalLogo {
      position: absolute;
      left: 48px;
      top: 48px;

      @media (max-width: $breakpoint-lg) {
        left: 50%;
        transform: translateX(-50%);
        scale: 0.9;
      }

      @media (max-width: $breakpoint-xs) and (max-height:950px) {
        display: none;
      }
    }
  }

  .confirmDeleteUserBtnBox {
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    .deleteCancelBtn {
      gap: 4px;
      padding: 15px 24px;
      border-radius: 10px;
      border: 1px solid #2a3647;
      background-color: white;
      font-size: 20px;
      font-weight: 400;
      color: #2a3647;
      margin-right: 24px;
      transition: all 0.1s ease-in-out;

      @media (max-width: $breakpoint-xs) and (max-height:950px) {
        font-size: 16px;
        padding: 10px 14px;
      }

      &:hover {
        border: 1px solid #29abe2;
        color: #29abe2;
        box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);

        img {
          filter: invert(46%) sepia(52%) saturate(2400%) hue-rotate(163deg) brightness(95%) contrast(101%);
        }
      }
    }

    .deleteBtn {
      gap: 4px;
      padding: 15px 24px;
      border: none;
      border-radius: 10px;
      background-color: #29abe2;
      font-size: 20px;
      font-weight: 700;
      color: white;
      transition: all 0.1s ease-in-out;

      @media (max-width: $breakpoint-xs) and (max-height:950px) {
        font-size: 16px;
        padding: 10px 14px;
      }

      &:hover {
        background-color: white;
        box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
        color: #29abe2;

        img {
          filter: invert(46%) sepia(52%) saturate(2400%) hue-rotate(163deg) brightness(95%) contrast(101%);
        }
      }
    }
  }
}