.addTaskWrapper {
  background-color: rgb(246, 247, 248);
  min-height: calc(100dvh - 96px);
}

.addTaskContainer {
  // max-width: calc(1920px - 232px);
  width: 100%;
  padding: 110px 96px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 61px;
    font-weight: 700;
  }

  .addTaskMiddleContent {
    margin-top: 48px;
    margin-bottom: 146px;
    display: flex;
    // justify-content: center;

    p {
      font-size: 20px;
    }

    input {
      height: 50px;
      width: 100%;
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      padding: 12px 16px;
      font-size: 20px;
    }

    .addTaskMiddleLeft {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 488px;
      padding-right: 48px;

      textarea {
        width: 100%;
        height: 120px;
        font-size: 20px;
        padding: 12px 16px;
        border-radius: 10px;
        border: 1px solid #d1d1d1;
      }

      .assignedToDropdown {
        height: 50px;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        padding: 12px 16px;
        font-size: 20px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .searchUserToAssign {
          padding: 0;
          border: none;
          height: 98%;
          width: 80%;
          outline: none;
        }

        .assignedToDropdownArrow {
          rotate: 180deg;
          border-radius: 12px;
          transition: all 0.1s ease-in;

          &:hover {
            cursor: pointer;
            background-color: #d1d1d192;
          }
        }

        .rotatedArrow {
          rotate: 0deg;
        }
      }

      .contactsToAssign {
        height: 180px;
        width: 100%;
        border-radius: 10px;
        background-color: white;
        overflow-y: auto;
        position: absolute;
        top: 102%;
        left: 0;
        z-index: 2;

        .userListItem {
          padding: 7px 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          input {
            height: 16px;
            width: 16px;
            border-radius: 3px;
          }

          .initialsNameWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .initialsBox {
              height: 40px;
              width: 40px;
              border-radius: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              font-weight: 400;
              color: white;
            }
          }
        }
      }

      .currentAssignation {
        height: 120px;
        width: 100%;
        padding: 7px 0px;
        position: absolute;
        top: 101%;
        left: 0;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 12px;
        overflow-y: auto;

        .initialsBox {
          height: 40px;
          width: 40px;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
          color: white;
        }
      }
    }

    .addTaskSeparator {
      width: 2px;
      height: 424px;
      background-color: #d1d1d1;
    }

    .addTaskMiddleRight {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 488px;
      padding-left: 48px;

      .prioContainer {
        display: flex;
        gap: 16px;
        max-width: 100%;

        .priorities {
          width: 136px;
          padding: 16px 10px;
          font-size: 20px;
          font-weight: 400;
          background-color: white;
          border-radius: 10px;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          &:hover {
            cursor: pointer;
            box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
          }

          &.urgentPrio {
            background-color: #ff3d00;
            cursor: auto;
            box-shadow: none;
            color: white;

            img {
              filter: brightness(0) invert(1);
            }
          }

          &.mediumPrio {
            background-color: #ffa800;
            cursor: auto;
            box-shadow: none;
            color: white;

            img {
              filter: brightness(0) invert(1);
            }
          }

          &.lowPrio {
            background-color: #7ae229;
            cursor: auto;
            box-shadow: none;
            color: white;

            img {
              filter: brightness(0) invert(1);
            }
          }
        }
      }

      .categoryDropdown {
        height: 50px;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        padding: 12px 16px;
        font-size: 20px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        .categoryDropdownArrow {
          rotate: 180deg;
          border-radius: 12px;
          transition: all 0.1s ease-in;

          &:hover {
            cursor: pointer;
            background-color: #d1d1d192;
          }
        }

        .rotatedArrow {
          rotate: 0deg;
        }

        .categorySelectionContainer {
          background-color: white;
          width: 100%;
          height: 100px;
          border-radius: 10px;
          transition: all 0.1s ease-in;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;

          top: 50px;
          left: 0px;

          p {
            padding: 12px 16px;
            border-radius: 10px;

            &:hover {
              cursor: pointer;
              background-color: #d1d1d192;
            }
          }
        }
      }

      .addSubtaskContainer {
        position: relative;

        // svg {
        //   position: absolute;
        //   width: 18px;
        //   height: 18px;
        //   padding: 1px;
        //   top: 50%;
        //   right: 5%;
        //   transform: translate(-5%, -50%);
        //   border-radius: 8px;

        //   &:hover {
        //     cursor: pointer;
        //     background-color: #d1d1d192;
        //   }
        // }

        .subtaskContainer{
          height: 120px;
          width: 100%;
          padding: 7px 0px;
          position: absolute;
          top: 101%;
          left: 0;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          gap: 12px;
          overflow-y: auto;
        }
      }
    }
  }

  .addTaskBottomContainer {
    width: 976px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .taskBtnContainer {
      display: flex;

      .cancelBtn {
        gap: 4px;
        padding: 16px;
        border-radius: 10px;
        border: 1px solid #2a3647;
        background-color: white;
        font-size: 20px;
        font-weight: 400;
        color: #2a3647;
        margin-right: 24px;
        transition: all 0.1s ease-in-out;

        @media (max-width: $breakpoint-xs) and (max-height: 950px) {
          font-size: 16px;
          padding: 10px 14px;
        }

        &:hover {
          border: 1px solid #29abe2;
          color: #29abe2;
          box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);

          img {
            filter: invert(46%) sepia(52%) saturate(2400%) hue-rotate(163deg) brightness(95%) contrast(101%);
          }
        }
      }

      .createBtn {
        gap: 4px;
        padding: 16px;
        border: none;
        border-radius: 10px;
        background-color: #2a3647;
        font-size: 20px;
        font-weight: 700;
        color: white;
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: #29abe2;
          box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: $breakpoint-xs) and (max-height: 950px) {
          font-size: 16px;
          padding: 10px 14px;
        }
      }
    }
  }
}
