<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="AddTask-LeftSide">
      <span>Title*</span>
      <input type="text" placeholder="Enter a title" />

      <span>Description</span>
      <input class="Description" type="text" placeholder="Enter a Description" />
      <select class="dropbtn">
        <option>Select contacts to assign</option>
        <option value="">Test 1</option>
        <option value="">Test 2</option>
        <option value="">Test 3</option>
        <option value="">Test 4</option>
        <option value="">Test 5</option>
        <option value="">Test 6</option>
        <option value="">Test 7</option>
        <option value="">Test 8</option>
        <option value="">Test 9</option>
        <option value="">Test 10</option>
      </select>

      <div class="addTask-RightSide">
        <span>Due date*</span>
        <input type="date" />
        <div class="prioSection">
          <span>Prio</span>
          <div>Urgent<img src="/assets/icons/prio_symbol.png" alt="Urgent" /></div>
          <div>Medium<img src="/assets/icons/medium_icon.png" alt="Medium" /></div>
          <div>Low<img src="/assets/icons/low_icon.png" alt="Low" /></div>
        </div>
        <span>Category*</span>
        <select name="" id="">
          <option>Select task Category</option>
          <option value="">Test 1</option>
          <option value="">Test 2</option>
          <option value="">Test 3</option>
        </select>

        <span>Subtasks</span>
        <select name="" id="">
          <option></option>
          <option value="">Test 1</option>
          <option value="">Test 2</option>
          <option value="">Test 3</option>
        </select>
      </div>

      <div class="addTask-bottomPart">
        <span>*This field is required</span>
        <button>Cancel &#x2715;</button>
        <button>Create Task &#x2713;</button>
      </div>
    </div>
  </body>
</html>
