.privacyText {
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 20px;
    max-height: 100%;
   
}

@media (max-width: $breakpoint-lg){
    .privacyText{
        height: calc(100dvh - 150px);
    }


}

.privacyText {
    width: 100%; 
    overflow: auto; 
  }