.contactModal {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px black solid;
}

.addContactContainer {
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  width: 1212px;
  height: 592px;
  background-color: white;
  border-radius: 30px;
  display: flex;

  .modalLogo {
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 48px;
    height: 66.48px;
    width: 55.6px;
  }

  .newUserLogo {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    position: absolute;
    top: 204px;
    left: 550px;
    color: white;
    font-size: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .closeModal {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    position: absolute;
    top: 48px;
    left: 1132px;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.addContactContainerLeft {
  width: 467px;
  height: 100%;
  padding: 66px 48px;
  background-color: #2a3647;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  h1 {
    font-size: 61px;
    font-weight: 700;
  }

  span {
    font-size: 27px;
    margin-bottom: 10px;
  }

  .vector {
    width: 90px;
    height: 2px;
    background-color: #29abe2;
  }
}

.addContactContainerRight {
  width: 745px;
  height: 100%;
  padding: 66px 48px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  .modalInputsContainer {
    width: 422px;
    height: 215px;
    gap: 32px;
    display: flex;
    flex-direction: column;

    input[type="text"] {
      height: 50px;
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      padding: 13px 21px;
      font-size: 20px;
      background-image: url("/assets/icons/inputName.svg");
      background-position: 380px;
      background-repeat: no-repeat;
    }

    input[type="email"] {
      height: 50px;
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      padding: 13px 21px;
      font-size: 20px;
      background-image: url("/assets/icons/inputEmail.svg");
      background-position: 380px;
      background-repeat: no-repeat;
    }

    input[type="tel"] {
      height: 50px;
      border: 1px solid #d1d1d1;
      border-radius: 10px;
      padding: 13px 21px;
      font-size: 20px;
      background-image: url("/assets/icons/inputTel.svg");
      background-position: 380px;
      background-repeat: no-repeat;
    }
  }

  .modalInputsBtnContainer {
    width: 422px;
    height: 57px;
    margin-top: 50px;
    display: flex;

    button {
      height: 56px;
      display: flex;
      justify-content: space-between;

      &:hover {
        cursor: pointer;
      }
    }

    .cancelBtn {
      width: 126px;
      padding: 16px;
      border-radius: 10px;
      border: 1px solid #2a3647;
      background-color: white;
      font-size: 20px;
      font-weight: 400;
      color: #2a3647;
      margin-right: 24px;
      transition: 100ms;
      &:hover {
        border: 1px solid #29abe2;
        color: #29abe2;
        box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
        img {
          filter: invert(46%) sepia(52%) saturate(2400%) hue-rotate(163deg) brightness(95%) contrast(101%);
        }
      }
    }

    .createBtn {
      width: 214px;
      padding: 16px;
      border: none;
      border-radius: 10px;
      background-color: #2a3647;
      font-size: 20px;
      font-weight: 700;
      color: white;
      transition: 100ms;
      &:hover {
        background-color: #29abe2;
        box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.currentUserInitials {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
