.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  max-width: 456px;
  width: 100%;
  padding-bottom: 32px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(168, 168, 168) rgb(255, 255, 255);
  position: relative;
  box-shadow: 0px 14px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  z-index: 1;

  @media (max-width: $breakpoint-lg) {
    max-width: 100%;
  }

  .contactListHeader {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding-top: 22px;

    @media (max-width: $breakpoint-lg) {
      display: none;
    }

    .newContactButton {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      min-height: 56px;
      max-width: 352px;
      width: 100%;
      border: 0px solid transparent;
      border-radius: 10px;
      background-color: #2a3647;
      color: #ffffff;
      font-size: 21px;
      font-weight: bold;
      line-height: 120%;

      & svg {
        height: 32px;
        width: 32px;
        fill: #ffffff;
      }

      &:hover {
        cursor: pointer;
        background-color: #29abe2 !important;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }
  .contactListContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    max-width: 400px;
    width: 100%;

    .alphabetSection {
      display: flex;
      align-items: center;
      font-size: 20px;
      padding-left: 36px;
      height: 58px;
      max-width: 352px;
      width: 100%;
      line-height: 120%;

      @media (max-width: $breakpoint-xxs) {
        padding-left: 30px;
      }
    }
    .horizontalLine {
      height: 1px;
      max-width: 352px;
      width: 100%;
      margin: 15px;
      background-color: #d1d1d1;
      border: unset;
    }
    .userListItem {
      display: flex;
      align-items: center;
      padding-left: 24px;
      gap: 35px;
      height: 78px;
      width: 352px;
      list-style-type: none;

      @media (max-width: $breakpoint-xxs) {
        width: 300px;
        padding-left: 10px;
      }

      .userInitials {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -1px;
        color: #ffffff;
        height: 42px;
        width: 42px;
        border: 2px solid white;
        border-radius: 100%;
        padding-right: 1px;
      }

      .userProfile {
        display: flex;
        flex-direction: column;

        .userName {
          font-size: 20px;
          color: #000000;
          line-height: 120%;
        }

        .usersMail {
          font-size: 16px;
          color: #007cee;
          line-height: 120%;

          @media (max-width: $breakpoint-xxs) {
            font-size: 12px;
          }
        }
      }

      &:hover {
        cursor: pointer;
        background: linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(249, 249, 249, 1) 100%);
        border: 0px solid transparent;
        border-radius: 10px;
      }

      &:hover .userInitials {
        border: 2px solid rgb(255, 255, 255);
      }
    }
  }
  .selectedUser {
    background-color: #2a3647;
    border-radius: 10px;

    .userProfile {
      .userName {
        color: #ffffff !important;
      }
    }

    &:hover {
      background: #2a3647 !important;
    }
  }
  .newContactButtonMobile {
    position: fixed;
    right: 16px;
    bottom: calc(32px + 80px);
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    min-width: 56px;
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: #2a3647;

    @media (max-width: $breakpoint-lg) {
      display: flex;
    }

    & svg {
      height: 32px;
      width: 32px;
      fill: #ffffff;
    }

    &:hover {
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
