.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 928px;
  width: 453px;
  padding-top: 22px;
  padding-bottom: 32px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(168, 168, 168) rgb(255, 255, 255);

  .newContactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-height: 56px;
    min-width: 352px;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: #2a3647;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 120%;

    &:hover {
      cursor: pointer;
      background-color: #29abe2;
    }

    .newContactButtonIcon {
      height: 32px;
      width: 32px;
    }
  }

  .contactListContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 400px;

    .alphabetSection {
      display: flex;
      align-items: center;
      font-size: 20px;
      padding-left: 36px;
      height: 58px;
      width: 352px;
      line-height: 120%;
    }
    .horizontalLine {
      height: 1px;
      width: 352px;
      margin: 15px;
      background-color: #d1d1d1;
      border: unset;
    }
    .userListItem {
      display: flex;
      align-items: center;
      padding-left: 24px;
      gap: 35px;
      height: 78px;
      width: 352px;
      list-style-type: none;

      .userInitials {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 120%;
        color: #ffffff;
        height: 42px;
        width: 42px;
        border: 0px solid transparent;
        border-radius: 100%;
      }

      .userProfile {
        display: flex;
        flex-direction: column;

        .userName {
          font-size: 20px;
          color: #000000;
          line-height: 120%;
        }

        .usersMail {
          font-size: 16px;
          color: #007cee;
          line-height: 120%;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: #2a3647;
        border: 0px solid transparent;
        border-radius: 10px;
      }

      &:hover .userInitials {
        border: 2px solid rgb(255, 255, 255);
      }

      &:hover .userName {
        color: #ffffff;
      }
    }
  }
}
