.contactDetails {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-left: 58px;
  max-width: 100%;
  width: 100%;
  position: relative;
  background-color: #f6f7f8;

  @media (max-width: $breakpoint-lg) {
    display: none;
    align-items: center;
    padding-top: 0px;
    padding-inline: 16px;
  }

  .contactDetailsBox {
    height: 100%;
    max-width: 100%;
    width: 100%;

    @media (max-width: $breakpoint-lg) {
      max-width: 596px;
    }

    .headings {
      display: flex;
      align-items: center;
      max-height: 73px;
      height: 100%;
      max-width: 596px;
      width: 100%;
      position: relative;

      @media (max-width: $breakpoint-lg) {
        flex-direction: column;
        align-items: start;
        margin-bottom: 82px;
      }

      .heading {
        font-size: 61px;
        font-weight: bold;

        @media (max-width: $breakpoint-xxs) {
          font-size: 45px;
        }

        &::after {
          content: " ";
          border-left: 3px solid #29abe2;
          border-radius: 10px;
          margin-inline: 30px;
        }

        @media (max-width: $breakpoint-lg) {
          &::after {
            content: " ";
            border-left: unset;
            border-radius: unset;
            margin-inline: unset;
          }
        }
      }

      .subHeading {
        font-size: 27px;
        font-weight: 400;
        color: #2a3647;

        @media (max-width: $breakpoint-lg) {
          &::after {
            content: " ";
            display: block;
            width: 60%;
            border-bottom: 3px solid #29abe2;
            border-radius: 10px;
            margin-top: 10px;
          }
        }

        @media (max-width: $breakpoint-xxs) {
          font-size: 20px;
        }
      }

      .switchMobileButton {
        display: none;
        position: absolute;
        height: 32px;
        width: 32px;
        top: 0;
        right: 0;

        @media (max-width: $breakpoint-lg) {
          display: block;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .userDetailPanel {
      max-height: max-content;
      height: 100%;
      max-width: 100%;
      width: 100%;
      transition: all 0.5s ease-in-out;

      @media (max-width: $breakpoint-lg) {
        transition: all 0s ease-in-out;
        transform: translateX(0%);
        max-height: calc(100vh - 255px);
      }

      .userQuickInfo {
        display: flex;
        align-items: center;
        gap: 50px;
        max-height: 120px;
        height: 100%;
        width: 100%;
        margin-top: 33px;

        @media (max-width: $breakpoint-lg) {
          gap: 20px;
        }

        .userInitials {
          display: flex;
          justify-content: center;
          align-items: center;
          max-height: 120px;
          height: 100%;
          max-width: 120px;
          width: 100%;
          border: 3px solid #ffffff;
          border-radius: 50%;
          font-size: 47px;
          font-weight: 400;
          color: #ffffff;
          line-height: 120%;
          letter-spacing: -3px;
          padding-right: 3px;
          text-align: center;

          @media (max-width: $breakpoint-lg) {
            max-height: 80px;
            max-width: 80px;
            font-size: 27px;
          }

          @media (max-width: $breakpoint-xxs) {
            max-height: 60px;
            max-width: 60px;
            font-size: 20px;
          }
        }

        .userActions {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .userName {
            font-size: 47px;
            font-weight: 400;
            line-height: 120%;

            @media (max-width: $breakpoint-lg) {
              font-size: 27px;
            }

            @media (max-width: $breakpoint-xxs) {
              font-size: 20px;
            }
          }
          .userProfileButtons {
            display: flex;
            gap: 16px;

            @media (max-width: $breakpoint-lg) {
              display: none;
              position: absolute;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              bottom: calc(12px + 80px);
              right: 5px;
              height: 100px;
              width: 116px;
              border: 0px solid transparent;
              border-radius: 20px 20px 0px 20px;
              box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            .editButton,
            .deleteButton {
              display: flex;
              align-items: center;
              gap: 8px;
              background-color: unset;
              border: unset;

              @media (max-width: $breakpoint-lg) {
                width: 100%;
                padding-inline: 20%;
              }

              &:hover {
                cursor: pointer;
                color: #29abe2;
                fill: #29abe2;
              }

              & svg {
                height: 24px;
                width: 24px;
              }
            }
          }
        }
      }
      .contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 22px;

        .heading {
          display: flex;
          align-items: center;
          margin-block: 40px;
          max-width: 207px;
          width: 100%;
          font-size: 20px;
          font-weight: 400;
          line-height: 120%;

          @media (max-width: $breakpoint-lg) {
            font-size: 20px;
            margin-block: 0px;
          }

          @media (max-width: $breakpoint-xxs) {
            font-size: 16px;
          }
        }

        .contactEmail {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .type {
            font-size: 16px;
            font-weight: bold;
          }
          & a {
            width: fit-content;
            @media (max-width: $breakpoint-xxs) {
              font-size: 14px;
            }
          }
        }

        .contactPhone {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .type {
            font-size: 16px;
            font-weight: bold;
          }
          & a {
            width: fit-content;
            @media (max-width: $breakpoint-xxs) {
              font-size: 14px;
            }
          }
        }
      }
      .userProfileButtonsMobile {
        display: none;
        position: absolute;
        bottom: calc(32px + 80px);
        right: 16px;
        height: 56px;
        width: 56px;
        background-color: #2a3647;
        border: 0px solid transparent;
        border-radius: 50%;
        z-index: 20;

        @media (max-width: $breakpoint-lg) {
          display: block;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.visible {
  transform: translateX(0%) !important;
}
